<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ToDo Vue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-xs-center bg-success">
                <br/>
                <h3 class="text-white">ToDo Vue</h3>
                <h5 class="text-white">A Simple ToDo List</h5>
                <br/>
            </div>
        </div>
        <div id="root">
            <div class="container">
                <div class="row">
                    <div class="offset-md-3 col-md-6">
                        <br/>
                        <div class="input-group card-text">
                            <input type="text" class="form-control" v-model="task" placeholder="Add a task">
                            <span class="input-group-btn">
                              <button class="btn btn-success" type="button" @click="addTask">Add</button>
                            </span>
                        </div>
                        <br/>
                    </div>

                    <div class="offset-md-3 col-md-6 text-xs-center">
                        <br/>
                        <div class="btn-group" data-toggle="buttons">
                          <label :class="[ show === 'showAll' ? activeClass : '', defaultClass]">
                            <input type="radio" value="showAll" v-model="show"> All Tasks
                          </label>
                          <label :class="[ show === 'showCompleted' ? activeClass : '', defaultClass]">
                            <input type="radio" value="showCompleted" v-model="show"> Completed Tasks
                          </label>
                          <label :class="[ show === 'showIncomplete' ? activeClass : '', defaultClass]">
                            <input type="radio" value="showIncomplete" v-model="show"> Incomplete Tasks
                          </label>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="offset-md-3 col-md-6" v-if="show === 'showAll'">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title text-xs-center">All Tasks</h3>
                                <todo-item v-for="item in todos" v-bind:todo="item"></todo-item>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-3 col-md-6" v-if="show === 'showCompleted'">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title text-xs-center">Completed Tasks</h3>
                                <todo-item v-for="item in completedTodos" v-bind:todo="item"></todo-item>
                            </div>
                        </div>
                    </div>
                    <div class="offset-md-3 col-md-6" v-if="show === 'showIncomplete'">
                        <div class="card">
                            <div class="card-block">
                                <h3 class="card-title text-xs-center">Incomplete Tasks</h3>
                                <todo-item v-for="item in incompleteTodos" v-bind:todo="item"></todo-item>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <footer class="footer bg-success">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-9 pull-left">
                <p class="text-white col-md-9">Made with <a href="https://vuejs.org/">Vue.js v2.0</a> & <a href="https://v4-alpha.getbootstrap.com/">Bootstrap 4</a> by <a href="http://mavin.studio">Chinmay Desai</a>. <span class="text-right"> Made in Melbourne. <span></p>
              </div>
              <div class="col-md-3 text-xs-right pull-right">
                <a href="https://github.com/cdesai/todo-vue">View project on GitHub</a>
              </div>
          </div>

        </div>
      </footer>


</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="scripts/main.js"></script>

</html>
